# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import glob
import psycopg2
import pandas as pd
from python.sql_queries import *

As running local docker contaitner, configured the connection as below to adjust.

In [3]:
#connect_setting="host=127.0.0.1 dbname=sparkifydb user=student password=student"
connect_setting="host=172.17.0.2 dbname=sparkifydb user=student password=student"

In [4]:
conn = psycopg2.connect(connect_setting)
cur = conn.cursor()

In [5]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [6]:
song_files = get_files('data/song_data')

In [7]:
filepath = song_files[0]
filepath

'/home/hk/git/DEND/project1/data/song_data/A/A/A/TRAAABD128F429CF47.json'

In [8]:
df = pd.read_json(filepath, lines=True, orient='columns')
df.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969

In [9]:
df.keys()

Index(['num_songs', 'artist_id', 'artist_latitude', 'artist_longitude',
       'artist_location', 'artist_name', 'song_id', 'title', 'duration',
       'year'],
      dtype='object')

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [10]:
song_data = (df.values[0][6], df.values[0][7], df.values[0][1], df.values[0][9], df.values[0][8])
song_data

('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546)

Think below is better as the order of keys is not controllable always.

In [11]:
song_data_bykey = (df['song_id'][0], df['title'][0], df['artist_id'][0], df['year'][0], df['duration'][0])
song_data_bykey

('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546)

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [12]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [13]:
artist_data = (df.values[0][1], df.values[0][5], df.values[0][4], df.values[0][2], df.values[0][3])
artist_data

('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892)

In [14]:
artist_data_bykey = (df['artist_id'][0], df['artist_name'][0], df['artist_location'][0], df['artist_latitude'][0], df['artist_longitude'][0])
artist_data_bykey

('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892)

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [15]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [16]:
log_files  = get_files("./data/log_data")

In [17]:
filepath = log_files[0]

In [18]:
df = pd.read_json(filepath, lines=True, orient='columns')
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Great Lake Swimmers,Logged In,Kevin,M,0,Arellano,215.11791,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Your Rocky Spine,200,1542931645796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
1,Soziedad Alkoholika,Logged In,Kevin,M,1,Arellano,204.74730,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Va Bien,200,1542931860796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
2,Franz Ferdinand,Logged In,Kevin,M,2,Arellano,172.01587,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Eleanor Put Your Boots On,200,1542932064796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
3,Modest Mouse,Logged In,Kevin,M,3,Arellano,209.52771,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Float On,200,1542932236796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
4,Adam Lambert,Logged In,Kevin,M,4,Arellano,266.44853,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Aftermath,200,1542932445796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [19]:
df = df[df['page']=='NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Great Lake Swimmers,Logged In,Kevin,M,0,Arellano,215.11791,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Your Rocky Spine,200,1542931645796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
1,Soziedad Alkoholika,Logged In,Kevin,M,1,Arellano,204.74730,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Va Bien,200,1542931860796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
2,Franz Ferdinand,Logged In,Kevin,M,2,Arellano,172.01587,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Eleanor Put Your Boots On,200,1542932064796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
3,Modest Mouse,Logged In,Kevin,M,3,Arellano,209.52771,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Float On,200,1542932236796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66
4,Adam Lambert,Logged In,Kevin,M,4,Arellano,266.44853,free,"Harrisburg-Carlisle, PA",PUT,NextSong,1.540007e+12,815,Aftermath,200,1542932445796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",66

In [20]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

0   2018-11-23 00:07:25.796
1   2018-11-23 00:11:00.796
2   2018-11-23 00:14:24.796
3   2018-11-23 00:17:16.796
4   2018-11-23 00:20:45.796
Name: ts, dtype: datetime64[ns]

In [21]:
time_data = list(zip(t.dt.strftime('%Y-%m-%d %I:%M:%S'), t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.weekday))
column_labels = ('start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday')

In [22]:
time_df = pd.DataFrame(time_data, columns=column_labels)
for i, row in time_df.iterrows():
    print(list(row))

['2018-11-23 12:07:25', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:11:00', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:14:24', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:17:16', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:20:45', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:25:11', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:29:30', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:33:55', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:38:05', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:42:32', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:45:07', 0, 23, 47, 11, 2018, 4]
['2018-11-23 12:49:02', 0, 23, 47, 11, 2018, 4]
['2018-11-23 01:34:56', 1, 23, 47, 11, 2018, 4]
['2018-11-23 01:39:24', 1, 23, 47, 11, 2018, 4]
['2018-11-23 02:35:36', 2, 23, 47, 11, 2018, 4]
['2018-11-23 02:39:36', 2, 23, 47, 11, 2018, 4]
['2018-11-23 03:48:24', 3, 23, 47, 11, 2018, 4]
['2018-11-23 03:52:36', 3, 23, 47, 11, 2018, 4]
['2018-11-23 03:57:58', 3, 23, 47, 11, 2018, 4]
['2018-11-23 04:01:13', 4, 23, 47, 11, 2018, 4]
['2018-11-23 04:04:51', 4, 23, 47, 11, 2018, 4]
['2018-11-23 04:06:21', 4, 23, 47, 11, 2018, 4]
['2018-11-23 04:09:56', 4, 23, 47, 11, 2018, 4]
['2018-11-23 05:56:58', 5, 23, 47, 11, 2018, 4]
['2018-11-23 06:03:11', 6, 23, 47, 11, 2018, 4]
['2018-11-23 06:07:58', 6, 23, 47, 11, 2018, 4]
['2018-11-23 06:09:06', 6, 23, 47, 11, 2018, 4]
['2018-11-23 06:11:42', 6, 23, 47, 11, 2018, 4]
['2018-11-23 06:15:22', 6, 23, 47, 11, 2018, 4]
['2018-11-23 06:28:16', 6, 23, 47, 11, 2018, 4]
['2018-11-23 07:05:36', 7, 23, 47, 11, 2018, 4]
['2018-11-23 07:34:02', 7, 23, 47, 11, 2018, 4]
['2018-11-23 07:50:40', 7, 23, 47, 11, 2018, 4]
['2018-11-23 07:51:37', 7, 23, 47, 11, 2018, 4]
['2018-11-23 07:53:57', 7, 23, 47, 11, 2018, 4]
['2018-11-23 07:55:00', 7, 23, 47, 11, 2018, 4]
['2018-11-23 10:39:09', 10, 23, 47, 11, 2018, 4]
['2018-11-23 10:43:47', 10, 23, 47, 11, 2018, 4]
['2018-11-23 10:57:19', 10, 23, 47, 11, 2018, 4]
['2018-11-23 11:02:35', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:04:05', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:13:30', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:14:28', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:17:50', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:22:40', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:26:29', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:32:17', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:35:48', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:37:44', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:39:45', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:42:52', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:43:31', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:47:14', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:50:36', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:52:40', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:54:21', 11, 23, 47, 11, 2018, 4]
['2018-11-23 11:59:10', 11, 23, 47, 11, 2018, 4]
['2018-11-23 12:01:25', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:02:53', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:05:04', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:07:58', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:08:33', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:11:58', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:12:48', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:15:42', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:17:20', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:21:09', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:23:40', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:28:13', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:30:30', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:33:54', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:34:55', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:37:42', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:38:30', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:42:12', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:42:26', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:46:07', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:46:24', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:50:21', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:50:45', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:51:36', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:52:33', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:54:29', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:54:50', 12, 23, 47, 11, 2018, 4]
['2018-11-23 12:58:04', 12, 23, 47, 11, 2018, 4]
['2018-11-23 01:04:00', 13, 23, 47, 11, 2018, 4]
['2018-11-23 02:25:06', 14, 23, 47, 11, 2018, 4]
['2018-11-23 02:27:50', 14, 23, 47, 11, 2018, 4]
['2018-11-23 02:38:54', 14, 23, 47, 11, 2018, 4]
['2018-11-23 02:41:51', 14, 23, 47, 11, 2018, 4]
['2018-11-23 02:41:51', 14, 23, 47, 11, 2018, 4]
['2018-11-23 02:45:52', 14, 23, 47, 11, 2018, 4]
['2018-11-23 02:47:49', 14, 23, 47, 11, 2018, 4]
['2018-11-23 02:50:26', 14, 23, 47, 11, 2018, 4]
['2018-11-23 02:53:55', 14, 23, 47, 11, 2018, 4]
['2018-11-23 03:00:59', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:03:03', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:04:41', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:08:53', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:12:16', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:15:13', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:17:23', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:17:30', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:21:17', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:21:21', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:27:46', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:28:12', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:29:23', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:29:46', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:30:49', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:31:37', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:33:10', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:33:24', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:37:12', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:41:18', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:44:29', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:45:35', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:48:19', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:49:00', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:52:34', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:52:40', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:53:50', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:54:24', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:56:47', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:57:30', 15, 23, 47, 11, 2018, 4]
['2018-11-23 03:58:44', 15, 23, 47, 11, 2018, 4]
['2018-11-23 04:00:53', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:00:58', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:00:59', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:01:07', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:04:35', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:05:27', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:07:13', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:08:14', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:09:22', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:13:08', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:13:10', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:16:50', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:16:52', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:17:10', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:20:21', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:20:52', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:21:51', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:22:57', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:24:22', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:25:39', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:26:02', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:26:29', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:29:37', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:30:20', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:30:59', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:32:34', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:33:03', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:34:48', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:35:35', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:36:59', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:38:06', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:41:23', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:42:35', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:44:59', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:45:50', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:48:25', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:50:31', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:50:45', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:54:33', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:55:04', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:58:57', 16, 23, 47, 11, 2018, 4]
['2018-11-23 04:59:02', 16, 23, 47, 11, 2018, 4]
['2018-11-23 05:00:55', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:01:40', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:05:07', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:08:27', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:08:37', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:09:57', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:13:12', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:13:32', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:14:10', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:15:10', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:16:57', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:19:26', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:23:43', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:25:11', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:29:09', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:30:05', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:33:00', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:33:33', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:37:14', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:38:06', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:40:02', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:42:29', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:42:35', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:47:19', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:47:21', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:50:28', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:51:33', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:55:18', 17, 23, 47, 11, 2018, 4]
['2018-11-23 05:58:48', 17, 23, 47, 11, 2018, 4]
['2018-11-23 06:03:13', 18, 23, 47, 11, 2018, 4]
['2018-11-23 06:11:01', 18, 23, 47, 11, 2018, 4]
['2018-11-23 06:17:56', 18, 23, 47, 11, 2018, 4]
['2018-11-23 06:20:07', 18, 23, 47, 11, 2018, 4]
['2018-11-23 06:28:21', 18, 23, 47, 11, 2018, 4]
['2018-11-23 07:17:50', 19, 23, 47, 11, 2018, 4]
['2018-11-23 07:18:57', 19, 23, 47, 11, 2018, 4]
['2018-11-23 07:20:58', 19, 23, 47, 11, 2018, 4]
['2018-11-23 07:24:39', 19, 23, 47, 11, 2018, 4]
['2018-11-23 07:28:08', 19, 23, 47, 11, 2018, 4]
['2018-11-23 07:32:31', 19, 23, 47, 11, 2018, 4]
['2018-11-23 07:44:15', 19, 23, 47, 11, 2018, 4]
['2018-11-23 07:47:35', 19, 23, 47, 11, 2018, 4]
['2018-11-23 07:52:03', 19, 23, 47, 11, 2018, 4]
['2018-11-23 07:57:02', 19, 23, 47, 11, 2018, 4]
['2018-11-23 08:00:15', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:04:48', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:07:15', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:11:29', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:15:47', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:18:51', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:29:46', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:33:44', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:38:41', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:40:27', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:43:42', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:47:18', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:50:30', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:55:28', 20, 23, 47, 11, 2018, 4]
['2018-11-23 08:59:18', 20, 23, 47, 11, 2018, 4]
['2018-11-23 09:02:33', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:04:22', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:06:07', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:10:42', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:13:56', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:21:12', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:25:15', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:28:21', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:37:30', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:39:49', 21, 23, 47, 11, 2018, 4]
['2018-11-23 09:42:09', 21, 23, 47, 11, 2018, 4]
['2018-11-23 11:08:48', 23, 23, 47, 11, 2018, 4]

In [23]:
time_df.head(15)

             start_time  hour  day  week  month  year  weekday
0   2018-11-23 12:07:25     0   23    47     11  2018        4
1   2018-11-23 12:11:00     0   23    47     11  2018        4
2   2018-11-23 12:14:24     0   23    47     11  2018        4
3   2018-11-23 12:17:16     0   23    47     11  2018        4
4   2018-11-23 12:20:45     0   23    47     11  2018        4
5   2018-11-23 12:25:11     0   23    47     11  2018        4
6   2018-11-23 12:29:30     0   23    47     11  2018        4
7   2018-11-23 12:33:55     0   23    47     11  2018        4
8   2018-11-23 12:38:05     0   23    47     11  2018        4
9   2018-11-23 12:42:32     0   23    47     11  2018        4
10  2018-11-23 12:45:07     0   23    47     11  2018        4
11  2018-11-23 12:49:02     0   23    47     11  2018        4
12  2018-11-23 01:34:56     1   23    47     11  2018        4
13  2018-11-23 01:39:24     1   23    47     11  2018        4
14  2018-11-23 02:35:36     2   23    47     11  2018        4

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [24]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run test.ipynb to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [25]:
df.keys()

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [26]:
user_df = df.loc[:,['userId','firstName', 'lastName', 'gender', 'level']]
user_df.head()

  userId firstName  lastName gender level
0     66     Kevin  Arellano      M  free
1     66     Kevin  Arellano      M  free
2     66     Kevin  Arellano      M  free
3     66     Kevin  Arellano      M  free
4     66     Kevin  Arellano      M  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [27]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [28]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    start_time = pd.to_datetime(row.ts, unit='ms').strftime('%Y-%m-%d %I:%M:%S')
    songplay_data = (start_time, row.userId, row.level, str(songid), str(artistid), row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [29]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.